@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&family=Syne:wght@700;800&display=swap');

@import "tailwindcss";

@theme {
  --font-display: 'Syne', sans-serif;
  --font-body: 'Plus Jakarta Sans', sans-serif;
  --color-accent: #7c6af7;
  --color-accent-2: #a78bfa;
  --color-dk-green: #22d3a5;
}

@layer base {
  :root {
    --font-display: 'Syne', sans-serif;
    --font-body: 'Plus Jakarta Sans', sans-serif;
  }

  body {
    font-family: var(--font-body);
  }
}
